

/*#ex-bg{background-color: black; padding:auto;
}
.box-bg{background-color:yellow;}*/
h1,h2,h3,h4,h5,h6,p,pre,body{
    margin: 0;
}
*{
    font-family: 'Roboto', sans-serif;
}
/*layout*/
.row{width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.6%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}

p{
    font: size 12px;
    padding: 10px 0;
}


/*home page*/
.hi{
    margin-bottom: 10px;
}
.sub-title{
    background-color: #FFB931;
    display:inline-block;
    padding: 4px 10px;
    margin-top: 17px;
}
.btn{
    background-color: #FFB931;
    display: inline-block;
    padding: 8px 14px;
    border-radius: 20px;
    margin-top: 10px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: white;
}

/*.light-bg{
    background-color: #ddd;

}*/
.light-bg img{
    width: 83%;
    height: auto;
    background-color: #ddd;
}
.home{
    margin:auto 0px;
}
.home-text{
    padding: 23px;
}
#profile-name{
    font-size: 32px;
    padding: 16px 0;
    -webkit-text-stroke: 1px #FFB933;
    color:white; /*stroke kanipinchadaniki white color apply cheyyali*/
}
.main-menu-bg{
    background-color: #FFB931;
}

.main-menu img{
    width: 100%;
    background-color: #b1b5b7f0;
    height: auto;
}
.main-menu ul{
    padding:24px 10px;
    text-align: center;
    line-height: 2.5rem;
    /*text-decoration: none;  avvadu endukante ul tag*/
}
.main-menu ul li a{
    text-decoration: none;
    font-weight: 700;
    color:black;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px; 
    display: block;
    padding: 10px 0;
}
.main-menu ul li.active a{
    color:white;
}
.main-menu ul li{
    line-height: 2rem;
}

/* about page*/
.main-text-bg{
    background-color:#ddd;
}
.main-text{
    padding: 40px 40px;
}
.exp h5{
    font-size: x-large;
    line-height: 2cm;
    block-size: 1.4cm;
}
.palette-icon {
font-size: x-large;
color: black;
margin-bottom: 12px;
}
.title{
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    border:1.5px dotted gray;
    padding:20px;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
}
.pri-text{
    padding: 29px 16px;
}
.pri-text h2{ 
    font-weight: 200;
}
.pri-text > h2 >span{
    font-weight: 800;
}
.exp{
    background-color: black;
    color: #FFB931;
    padding: 50px 16px;
    text-align: center;
    border:1.5px dotted gray;
}
.exp h3 {
    font-size: 32px;
}
.exp p{
    color:white;
    font-size: 10px;

}
.exp-desc{
    padding: 0 36px;}

.exp-desc .fa{
    font-size: 30px;
    padding: 10px;
}

.exp-desc>div>div>div {
    align-items: center;
    display: flex;
    padding: 12px;
}
.exp-desc h1{
    padding-bottom: 16px;
    font-size: 30px;
}
.exp-desc p{
    font-size: 9px;
    text-align: justify;
    text-transform: capitalize;
    block-size: 1cm;
}
.exp-desc h4{
    color: black;
    text-align: justify;
    font-size: 9px;
    font-weight: 900;
    text-transform: uppercase;
}

.res-p{
    padding: 20px;
}
.res-p>.row{
    padding: 20px 0px;
}
.res-p>.row>.col-4{
    padding: 16px 0px;
}
.res-p pre{
 text-align:justify;
 text-transform: capitalize;
 font-size: 12px;
 padding: 10px;
}
.res-p h4,h3{
    text-transform: uppercase;
    padding: 8px;
}
.res-p h4{
    background-color: #FFB931;
    display: inline-block;
    color:rgba(255, 255, 255, 0.852);
    font-size: 18px;
    padding-bottom: 5px;
}
.cnct {
    padding:15px;
    font-size: 21px;
}
.cnct p{
    font-size: 18px;
}
.clr{
    color: #FFB931;
}
.icon .fa-solid{
    font-size: 50px; 
    padding: 19px 50px; 
    flex-wrap: wrap;    
}

.icon .col-6{
    display: flex;
    align-items: center;
}
.icon p{
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}
.icon h2{
    
    color: #FFB931;
    font-size: 40px;
    padding: 90px 280px;
    text-align: center;
}
/*testimonial page*/
.testimonials{
    background-color: black;
    padding: 4px;  
    margin: 12px;
    color: white;
}
.testimonials img{
    float: left;
    padding: 10px 5px;
}
.testimonial-text{
    padding: 17px 15px;
    text-align: justify;
}
.testimonial-text h2{
    font-size: 16px;
    color: #FFB931;
    font-weight: 800;
}
.testimonial-text h5{
    font-size: 11px;
    font-weight: 800;
}
.testimonial-text p{
    font-size: 12px;
    text-align: justify;
}
.rating{
    padding: 10px 12px;
}

/*portifolio*/
.portfolio-menu ul{
    list-style: none;
    text-align: center;
}
.portfolio-menu ul li{
    display: inline-block;
    padding: 10px 12px;
    margin:0 10px;
    font-weight: 700;
    color: black;
}
.port{
    cursor: pointer;
    padding: 8px 16px;
    color:white;
    transition: 0.3s;
}
.port:hover{
    color:#FFB931;
}
.port:focus{
    color:#FFB931;
    outline:none;
}
.portfolio-img>div{
    display:inline-block;
}
.portfolio-img img{
    width: 175px;
}
/*icon*/
.icon-menu ul li {
    list-style-type: none;
}
.icon-menu{
    position: fixed;
    top: 140px;
    right: 20px;
}
.icon-menu ul {
    line-height: 40px;
    background-color: #FFB933;
    padding: 12px;
    border-radius: 24px;
}
.icon-menu ul li i{
    color: black; 
}
.icon-menu ul li i.active{
    color:#ddd;
}
.home-container>.row{
    height: 100vh;
}

